/*BASE*/
@import "base/vars";
@import "base/reset";
@import "base/utils";
/*COMPONENTS*/
@import "components/navbar";
@import "components/footer";
@import "components/carousel";
/*LAYOUT*/
@import "layout/conctacto";
@import "layout/galeria";
@import "layout/index";
@import "layout/nosotros";
@import "layout/productos";
@import "layout/mediaqueries";

/* H1s */
h1 {
    font-size: 3rem;
    background: linear-gradient(to right, violet, indigo);
    color: transparent;
    background-clip: text;
}

/* BODY */
body {
    color: $color_secundario;

}