.galeria {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    padding: 30px;
    gap: 20px;

}

.galeria img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.5s ease;

    &:hover {
        @include animacion(0.5s, scale(1.1))
    }

}