.card {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 650px) {
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    width: 30%;
  }
}

.comprar {
  padding: 5px;
  border-radius: 4px;

  &:hover {

    background-color: black;
    color: white;
    transition: 0.5s;
  }
}